/*=============== BREAKPOINTS ===============*/

/* Para pequenos dispositivos */

@media screen and (max-width: 440px) {
    .author_class { 
        font: 700 normal 1.8rem/27px 'Poppins', sans-serif; 
        letter-spacing: 0.03rem;
    }
    .film_class { 
        font: 900 normal 3.9rem/49px 'Poppins', sans-serif;
        
    }
    .description { 
        font: 300 normal 1.4rem/25px 'Poppins',sans-serif;
    }

    .navegation_bar {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 340px) {
    .author_class { 
        font: 700 normal 1.6rem/24px 'Poppins', sans-serif; 
        letter-spacing: 0.03rem;
    }
    .film_class { 
        font: 900 normal 3.3rem/43px 'Poppins', sans-serif;
        
    }
    .description { 
        font: 300 normal 1.2rem/20px 'Poppins',sans-serif;
    }
}

/* Para medios dispositivos */

@media screen and (max-width: 768px) {
    div.button_right {
        display: none;
    }
}

@media screen and (max-width: 1010px) {
    section {
        justify-content: center;
        flex-direction: column-reverse;
        padding-bottom: 5vh;
    }

}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ;