:root {
  --layout-flow: 0 10vw;
}


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

html {
  /* A cada 1em será considerado 10px */
  font-size: 62.5%;
}

html,
body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(130.02deg, #628e75 0.66%, #1a4855 83.32%) no-repeat;
  color: #F9F9F9;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.1px;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 { margin: 0; }

.navegation_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
  padding: var(--layout-flow);
}

nav ul {
  display: flex;
  margin-top: 5px;
  gap: 30px;
  list-style: none;
}

section {
  padding: var(--layout-flow);
  display: flex;
  align-items: center;
  column-gap: 165px;
}

.content {
  max-width: 445px;
  min-height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.author_class { font: 700 normal 2.0rem/30px 'Poppins', sans-serif; }
.film_class { font: 900 normal 4.5rem/64px 'Poppins', sans-serif; margin: 13px 0 25px 0; }
.description { font: 300 normal 1.6rem/25px 'Poppins',sans-serif; }

.box_ctas {
  display: flex;
  column-gap: 16px;
  margin-top: 40px;
}

.box_ctas button[type="submit"] {
  font: 400 normal 1.4rem/180% 'Poppins';
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  width: 200px;
  column-gap: 9px;
  cursor: pointer;
}

.button_left button {
  background: #658E76;
  border: 2px solid #658E76;
  color: #F9F9F9;
}

.button_right button {
  background: transparent;
  border: 2px solid #628e75;
  color: #F9F9F9;
}

.image img {
  height: 100%;
  width: 100%;
  animation: float-img 2.5s ease-in-out infinite;
}

@keyframes float-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.95rem);
  }
  100% {
    transform: translateY(0);
  }
}